<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>AntiPatternsUnlocked</title>
  <meta name="description" content="The AntiPatternsUnlocked Game">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
</head>

<body>

<header class="sticky">
  <a href="#" role="button">Home</a>
  <a href="#" role="button">About</a>
  <a href="#" role="button">Contact</a>
</header>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
	<h1>The AntiPatternsUnlocked Game</h1>
	<p>Please create a branch you want to use playing the AntiPatternsUnlocked game...</p>
	<form action="/create" method="post">
	  <fieldset>
	    <legend>Please insert the name of the branch</legend>
	    <div class="row">
	      <div class="col-sm-12 col-md-6">
	        <input type="text" name="branch" placeholder="Name"/>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12 col-md-6">
	        <input type="submit" class="primary" value="Create branch"/>
	      </div>
	    </div>
	  </fieldset>
	</form>
	<br/><br/>
    </div>
    <div class="col-sm-12 col-lg-4">
    </div>
  </div>
</div>
<footer>
    <p>Copyright &copy; apu-game 2019 | Built using <a href="https://chalarangelo.github.io/mini.css/">mini.css</a>
    </p>
</footer>

</body>
</html>